<launch>
    <!-- <include file="$(find rosauth_firebase)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
        <arg name="websocket_external_port" value="$(env SLOT_ROSBRIDGE_PORT)" />
        <arg name="authenticate" value="true" />
    </include> -->
    <node name="verify_jwt_node" pkg="rosauth_jwt" type="rosauth_jwt.py">
    </node>
</launch>